
<label for="nombre">Nombre: </label>
<input id="nombre" type="text" formControlName="nombre">
  
<label for="descripcion">Descripción: </label>
<input id="descripcion" type="textarea" formControlName="descripcion"> 

<label for="ataques">Ataques: </label>
<input class="" id="ataques" type="text" formControlName="ataques">

<label for="tipo">Tipo: </label>
<input id="tipo" type="text" formControlName="tipo">

<label for="imagen">Imagen: </label>
<input id="imagen" type="file" formControlName="imagen">

<label for="id">Id: </label>
<input id="id" type="text" formControlName="id">

<button class="btn btn-primary" (ngSubmit)="onSubmit()">Enviar</button>

