
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!--ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 d-sm-none" src="/assets/headers/header.jpg" alt="First slide">
        <img class="d-none w-100 d-sm-block" src="/assets/headers/header-medium-up.jpg" alt="First slide">
        <div class="logos-header row justify-content-center">
            <div class="col-5 col-sm-3">
                <img class="w-100 logo-header" src="/assets/headers/pokemon-scarlet-logo-medium-up.webp">
            </div>
            <div class="col-5 col-sm-3">
                <img class="w-100 logo-header" src="/assets/headers/pokemon-violet-logo-medium-up.webp">
            </div>
        </div>
      </div>
    </div>
    <!--a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a-->
</div>